---
import { type DocumentType, getSingle, getByRef } from "../prismic";
import SliceZone from "../slices/SliceZone.vue";
import { components } from "../slices";
import Layout from "../layouts/Layout.astro";
import type { HomepageDocumentData } from "../../prismicio-types";
// import PrismicPreview from "../layouts/PrismicPreview.astro";
// import PrismicRichText from "../components/fields/PrismicRichText.vue";

export const prerender = false;
const previewCookie = Astro.cookies.get("io.prismic.preview")?.value;

const data = previewCookie
	? ((await getByRef(previewCookie)) as HomepageDocumentData)
	: ((await getSingle("homepage" as DocumentType)) as HomepageDocumentData);
---

<Layout isPreview={previewCookie ? true : false}>
	<!-- <h1>
			<PrismicRichText field={data.title} />
		</h1>

		<p>
			<PrismicRichText field={data.description} />
		</p> -->
	<!-- <PrismicPreview> -->
	{
		data?.slices && data.slices.length > 0 && (
			<SliceZone slices={data.slices} components={components} />
		)
	}
	<!-- </PrismicPreview> -->
</Layout>
