---
export const prerender = true;
import Layout from "../layouts/Layout.astro";

const SEO = {
	title: "Preview",
	description: "",
};
---

<script
	async
	defer
	src='https://static.cdn.prismic.io/prismic.js?new=true&repo=astro-prismic-slicemachine'
></script>

<script>
	import { client } from "../prismic";

	const init = async () => {
		const defaultUrl = "/";
		const url = await client.resolvePreviewURL({
			linkResolver: (doc) => {
				if (doc.isBroken) {
					return "/404";
				} else if (doc.type === "homepage") {
					return `/preview/home`;
				} else {
					return `/preview/${doc.type}`;
				}
				// add more pages (a.k.a redirects) ...
			},
			defaultURL: defaultUrl,
		});
		window.location.replace(url);
	};

	init();
</script>

<Layout title={SEO.title} description={SEO.description} disableIndex={true}>
	<div>Loading the preview</div>
</Layout>
