<html>
	<head>
		<title>Astro Vue Prismic Starter</title>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />


            <!-- <script type='module'>
                import { client } from '../prismic.ts';

                const init = async () => {
                    const defaultURL = "/";

                    const url = await client.resolvePreviewURL({
                        defaultURL,
                    });
                    window.location.replace(url);

                    console.log("PRV UR", url);
                };
                init();
            </script> -->

		<script
			async
			defer
			src='https://static.cdn.prismic.io/prismic.js?new=true&repo=astro-prismic-slicemachine'
		></script>
	</head>
	<body><slot>No page content found.</slot></body>
</html>
